body {
  background-color: #FBFBFB;
}

:root {
  --color-bg-light: #FBFBFB;
  --color-text: #333333;
}

@font-face {
  font-family: 'Playwrite';
  src: url('./assets/fonts/playwrite/PlaywriteRO-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserra-medium';
  src: url('./assets/fonts/Montserra/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

